body {
    font-family: Arial, sans-serif;
    margin: 0;
    
}

.sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidenav-btn {
    display: block;
    width: 60px; 
    height: 60px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    transition: background-color 0.3s;
    margin-bottom: 10px; 
    border-bottom-right-radius: 10px;   
    border-top-right-radius: 10px;   


}

.sidenav-btn:hover {
    opacity: 0.8; 
}
